<div class="wrapper">

    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div> -->
    
    <app-nav></app-nav>
    
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <a href="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">JARVINS</span>
    </a>
    
    <app-sidebar></app-sidebar>
    
    </aside>
    
    <div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Network Elements <i class="fas fa-pencil"></i></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Network Elements</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                  
                        <div class="card-body">
                            <div class="tab-content"> 
                                <button type="button" class="btn btn-sm btn-primary" (click)="add(addNeModal)"><i class="fa fa-plus-square" aria-hidden="true"></i> ADD NEW</button>
                                <br>
                                <br>
                                <div class="active tab-pane" id="activity">
                                    
                                    <div class="post">
                                        <table *ngIf="ne !== undefined" datatable [dtOptions]="dtOptions" class="row-border hover" id="dt0" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Vendor</th>
                                                <th>IP Address</th>
                                                <th>Software Version</th>
                                                <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="ne?.length != 0">
                                                <tr *ngFor="let ne of ne">
                                                <td>{{ ne.code }}</td>
                                                <td>{{ ne.name }}</td>
                                                <td>{{ ne.type }}</td>
                                                <td>{{ ne.status }}</td>
                                                <td>{{ ne.vendor }}</td>
                                                <td>{{ ne.device_ip_address }}</td>
                                                <td>{{ ne.software_version }}</td>
                                                <td class="text-center">
                                                    <a href="" [routerLink]="" (click)="edit(editNeModal, ne)">&nbsp; <i class="fas fa-pencil-alt"> </i> </a> 
                                                    <a  [routerLink]="" (click)="remove(ne)"> <i class="fas fa-trash-alt"> </i> </a> 
                                                    <a  [routerLink]="" (click)="view(viewNeModal, ne)"> <i class="fas fa-eye"> </i> </a> 
                                                </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="ne?.length == 0">
                                                <tr>
                                                    <td colspan="14" class="no-data-available">No data!</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<ng-template #addNeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Add Network Element</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

        
    <div class="modal-body">
        <form [formGroup]="neForm" (ngSubmit)="onSubmitSave()">

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label>NE Code</label><br>
                        <input type="text" class="form-control" formControlName="code" id="code" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" formControlName="type" id="type" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" formControlName="status" id="status" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Vendor</label>
                        <input type="text" class="form-control" formControlName="vendor" id="vendor" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>IP Address</label>
                        <input type="text" class="form-control" formControlName="device_ip_address" id="device_ip_address" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Software Version</label>
                        <input type="text" class="form-control" formControlName="software_version" id="software_version" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>FOC Asgmt. Uplink 1</label>
                        <input type="text" class="form-control" formControlName="foc_assignment_uplink1" id="foc_assignment_uplink1" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>FOC Asgmt. Uplink 2</label>
                        <input type="text" class="form-control" formControlName="foc_assignment_uplink2" id="foc_assignment_uplink2" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>HON Asgmt. Uplink Port 1</label>
                        <input type="text" class="form-control" formControlName="hon_assignment_uplink_port1" id="hon_assignment_uplink_port1" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>HON Asgmt. Uplink Port 2</label>
                        <input type="text" class="form-control" formControlName="hon_assignment_uplink_port2" id="hon_assignment_uplink_port2" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Decom Date</label>
                        <input type="date" class="form-control" formControlName="decom_date" id="decom_date" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>New Node Name</label>
                        <input type="text" class="form-control" formControlName="new_node_name" id="new_node_name" required="true">
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm  btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm  btn-primary">Save</button>
            </div>
        </form>

    </div>
</ng-template>

<ng-template #editNeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit NE Details</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        
    <div class="modal-body">
        <form [formGroup]="neForm" (ngSubmit)="onSubmitUpdate()">

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label>NE Code</label><br>
                        <input type="text" class="form-control" formControlName="code" id="code" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" formControlName="type" id="type" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" formControlName="status" id="status" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Vendor</label>
                        <input type="text" class="form-control" formControlName="vendor" id="vendor" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>IP Address</label>
                        <input type="text" class="form-control" formControlName="device_ip_address" id="device_ip_address" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Software Version</label>
                        <input type="text" class="form-control" formControlName="software_version" id="software_version" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>FOC Asgmt. Uplink 1</label>
                        <input type="text" class="form-control" formControlName="foc_assignment_uplink1" id="foc_assignment_uplink1" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>FOC Asgmt. Uplink 2</label>
                        <input type="text" class="form-control" formControlName="foc_assignment_uplink2" id="foc_assignment_uplink2" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>HON Asgmt. Uplink Port 1</label>
                        <input type="text" class="form-control" formControlName="hon_assignment_uplink_port1" id="hon_assignment_uplink_port1" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>HON Asgmt. Uplink Port 2</label>
                        <input type="text" class="form-control" formControlName="hon_assignment_uplink_port2" id="hon_assignment_uplink_port2" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Decom Date</label>
                        <input type="date" class="form-control" formControlName="decom_date" id="decom_date" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>New Node Name</label>
                        <input type="text" class="form-control" formControlName="new_node_name" id="new_node_name" required="true">
                    </div>
                </div>
                
            </div>

        
            <div class="modal-footer">
                <button type="button" class="btn btn-sm  btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm  btn-primary">Save</button>
            </div>
        </form>

    </div>
</ng-template>

 

<ng-template #viewNeModal let-modal> 
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">NE Profile</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
 
            <div class="row">
                <div class="col-md-3">
                
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <!-- <img class="profile-user-img img-fluid img-circle" src="assets/img/nlffos/EBS.png" alt="User profile picture"> -->
                            </div>
                            <!-- <h3 class="profile-username text-center">{{user.first_name}} {{user.last_name}}</h3> -->
                            <p class="text-muted text-center">
                                <!-- {{user.entity_code}} {{user.employment_status}} <br>
                                {{user.employee_subgroup}} <br>
                                {{user.position}}</p> -->
                            <!-- <p class="text-muted text-center">North Luzon FFOS</p> -->
                            <!-- <ul class="list-group list-group-unbordered mb-3" style="font-size: 12px;">
                                <li class="list-group-item">
                                    <b>Date Hired</b> <a class="float-right">12/01/2013</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Date of Birth</b> <a class="float-right">07/29/1992</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Gender</b> <a class="float-right">Male</a>
                                </li>
                            </ul> -->
                            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                        </div>
                    
                    </div>
                    
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Basic Info</h3>
                        </div>
                        
                        <div class="card-body">
                            <strong>Name</strong>: {{neRaw.name}} 
                            <br>
                            <strong>Status</strong>: {{neRaw.status}} 
                            <br>
                            <strong>Type</strong>: {{neRaw.type}} 
                            <br>
                            <strong>Vendor</strong>: {{neRaw.vendor}} 
                            <br>
        
      
                        </div>
                        
                    </div>
                
                </div>
                
                <div class="col-md-9">
                    <div class="card">

                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-info">
                              PRIMARY
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="members">

                                    <div class="post" *ngIf="filtersLoaded | async">
                                        <strong><i class="nav-icon fas fa-bolt"></i> DC Panel </strong>
                                        <!-- <hr> -->
                                        
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>DC Panel</th>
                                                    <th>Breakder No</th>
                                                    <th>Current</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="neData.dc_panel_item.length>0">
                                                <tr>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.manufacturer_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.dc_panel_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.breaker_no"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.current"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item.length==0">
                                                <tr>
                                                    <td colspan="4" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="post" *ngIf="filtersLoaded | async">
                                        <strong><i class="nav-icon fas fa-pallet"></i> Rectifier </strong>
                                        <!-- <hr> -->
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>Rectifier</th>
                                                    <th>Index No</th>
                                                    <th>Model</th>
                                                    <th>Maintainer</th>
                                                    <th>Status</th>
                                                    <th>Date Installed</th>
                                                    <th>Date Accepted</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="neData.dc_panel_item.length>0">
                                                <tr>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.manufacturer_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.rectifier_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.index_no"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.model"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.maintainer"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.status"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.date_installed"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[0]?.dc_panel?.rectifier?.date_accepted"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item.length==0">
                                                <tr>
                                                    <td colspan="8" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="post" *ngIf="filtersLoaded | async">
                                        <strong><i class="nav-icon fas fa-battery-full"></i> Battery </strong>
                                        <!-- <hr> -->
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>Battery</th>
                                                    <th>Index No</th>
                                                    <th>Model</th>
                                                    <th>Maintainer</th>
                                                    <th>Status</th>
                                                    <th>Date Installed</th>
                                                    <th>Date Accepted</th>
                                                </tr>
                                            </thead>
                                            <!-- <tbody *ngIf="neData.dc_panel_item[0]?.dc_panel?.rectifier.length>0"> -->
                                            <tbody>
                                                <tr *ngFor="let battery of neData.dc_panel_item[0]?.dc_panel?.rectifier?.batteries">
                                                    <td [innerHTML]="battery.manufacturer_name"> </td>
                                                    <td [innerHTML]="battery.battery_name"> </td>
                                                    <td [innerHTML]="battery.index_no"> </td>
                                                    <td [innerHTML]="battery.model"> </td>
                                                    <td [innerHTML]="battery.maintainer"> </td>
                                                    <td [innerHTML]="battery.status"> </td>
                                                    <td [innerHTML]="battery.date_installed"> </td>
                                                    <td [innerHTML]="battery.date_accepted"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item[0]?.dc_panel?.rectifier.length==0">
                                                <tr>
                                                    <td colspan="8" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>


                    <div class="card" *ngIf="filtersLoaded | async" >


                        <div class="ribbon-wrapper ribbon-lg" *ngIf="neData.dc_panel_item[1]">
                            <div class="ribbon bg-info">
                              SECONDARY
                            </div>
                        </div>

                        <div class="card-body" *ngIf="neData.dc_panel_item[1]">
                            <div class="tab-content">
                                <div class="active tab-pane" id="members">

                                    <div class="post">
                                        <strong><i class="nav-icon fas fa-bolt"></i> DC Panel </strong>
                                        <!-- <hr> -->
                                       
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>DC Panel</th>
                                                    <th>Breakder No</th>
                                                    <th>Current</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="neData.dc_panel_item.length>0">
                                                <tr>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.manufacturer_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.dc_panel_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.breaker_no"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.current"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item.length==0">
                                                <tr>
                                                    <td colspan="4" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="post" *ngIf="filtersLoaded | async">
                                        <strong><i class="nav-icon fas fa-pallet"></i> Rectifier </strong>
                                        <!-- <hr> -->
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>Rectifier</th>
                                                    <th>Index No</th>
                                                    <th>Model</th>
                                                    <th>Maintainer</th>
                                                    <th>Status</th>
                                                    <th>Date Installed</th>
                                                    <th>Date Accepted</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="neData.dc_panel_item.length>0">
                                                <tr>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.manufacturer_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.rectifier_name"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.index_no"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.model"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.maintainer"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.status"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.date_installed"> </td>
                                                    <td [innerHTML]="neData.dc_panel_item[1]?.dc_panel?.rectifier?.date_accepted"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item.length==0">
                                                <tr>
                                                    <td colspan="8" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="post" *ngIf="filtersLoaded | async">
                                        <strong><i class="nav-icon fas fa-battery-full"></i> Battery </strong>
                                        <!-- <hr> -->
                                        <table class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>Battery</th>
                                                    <th>Index No</th>
                                                    <th>Model</th>
                                                    <th>Maintainer</th>
                                                    <th>Status</th>
                                                    <th>Date Installed</th>
                                                    <th>Date Accepted</th>
                                                </tr>
                                            </thead>
                                            <!-- <tbody *ngIf="neData.dc_panel_item[1]?.dc_panel?.rectifier?.batteries>0"> -->
                                            <tbody>
                                                <tr *ngFor="let battery of neData.dc_panel_item[1]?.dc_panel?.rectifier?.batteries">
                                                    <td [innerHTML]="battery.manufacturer_name"> </td>
                                                    <td [innerHTML]="battery.battery_name"> </td>
                                                    <td [innerHTML]="battery.index_no"> </td>
                                                    <td [innerHTML]="battery.model"> </td>
                                                    <td [innerHTML]="battery.maintainer"> </td>
                                                    <td [innerHTML]="battery.status"> </td>
                                                    <td [innerHTML]="battery.date_installed"> </td>
                                                    <td [innerHTML]="battery.date_accepted"> </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="neData.dc_panel_item[1]?.dc_panel?.rectifier?.batteries==0">
                                                <tr>
                                                    <td colspan="8" class="no-data-available text-center">No data available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>

                
                </div>
            
            </div>
            
     

    </div>
</ng-template>



