<div class="wrapper">

    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div> -->
    
    <app-nav></app-nav>
    
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <a href="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">JARVINS</span>
    </a>
    
    <app-sidebar></app-sidebar>
    
    </aside>
    
    <div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">PSS Owner <i class="fas fa-pencil"></i></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">PSS Owner</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                  
                        <div class="card-body">
                            <div class="tab-content"> 
                                <button type="button" class="btn btn-sm btn-primary" (click)="add(addPssOwnerModal)"><i class="fa fa-plus-square" aria-hidden="true"></i> ADD NEW</button>
                                <br>
                                <br>
                                <div class="active tab-pane" id="activity">
                                    
                                    <div class="post">
                                        <table *ngIf="pssOwner !== undefined" datatable [dtOptions]="dtOptions" class="row-border hover" id="dt0" class="table table-striped table-bordered" style="width:100%; padding: 10px;">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="pssOwner?.length != 0">
                                                <tr *ngFor="let pssOwner of pssOwner">
                                                    <td>{{ pssOwner.code }}</td>
                                                    <td>{{ pssOwner.name }}</td>
                                                    <td class="text-center">
                                                        <a href="" [routerLink]="" (click)="edit(editPssOwnerModal, pssOwner)">&nbsp; <i class="fas fa-pencil-alt"> </i> </a>
                                                        <a  [routerLink]="" (click)="remove(pssOwner)"> <i class="fas fa-trash-alt"> </i> </a> 
                                                        <!-- <a  [routerLink]="" (click)="view(viewTrainingModal, training)"> <i class="fas fa-eye"> </i> </a>  -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="pssOwner?.length == 0">
                                                <tr>
                                                    <td colspan="3" class="no-data-available">No data!</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<ng-template #addPssOwnerModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Add PSS Owner</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

        
    <div class="modal-body">
        <form [formGroup]="pssOwnerForm" (ngSubmit)="onSubmitSave()">

            <div class="row">

                <div class="col-md-7">
                    <div class="form-group">
                        <label>PPS Owner</label>
                        <input type="text" class="form-control" formControlName="name" id="name" required="true">
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </form>

    </div>
</ng-template>

<ng-template #editPssOwnerModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit PSS Owner Details</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        
    <div class="modal-body">
        <form [formGroup]="pssOwnerForm" (ngSubmit)="onSubmitUpdate()">

            <div class="row">

                <div class="col-md-7">
                    <div class="form-group">
                        <label>PPS Owner</label>
                        <input type="text" class="form-control" formControlName="name" id="name" required="true">
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </form>

    </div>
</ng-template>


