::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
}

::ng-deep .dataTables_wrapper {
    font-size: 12px;
}

ul li img {
    /* min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px; */
    height: 150px;
    width: 150px;
} 


  .form-control {
      height:30px;
      font-size: 12px;
  }

 .form-group label {
    font-size:12px;
}


i {
    padding-right:2px;
    cursor: pointer;
}

i:hover{
    color: blue;
}