::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
  }
   
th { font-size: 12px; }
td { font-size: 11px; }

.dataTables_length {
    font-size: 11px;
}


.dataTables_filter {
    font-size: 11px;
}


.dataTables_info {
    font-size: 11px;
}

.dataTables_paginate {
    font-size: 11px;
}


.dataTables_filter {
    float: right;
    text-align: right;
    background-color: blue;
}