<div class="wrapper">

    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div> -->
    
    <app-nav></app-nav>
    
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <a href="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">JARVINS</span>
    </a>
    
    <app-sidebar></app-sidebar>
    
    </aside>
    
    <div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Tools and Test Equipments <i class="fas fa-pencil"></i></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tools and Test Equipments</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                  
                        <div class="card-body">
                            <div class="tab-content"> 
                                <button type="button" class="btn btn-sm btn-primary" (click)="add(addTteModal)"><i class="fa fa-plus-square" aria-hidden="true"></i> ADD NEW</button>
                                <br>
                                <br>
                                <div class="active tab-pane" id="activity">
                                    
                                    <div class="post">
                                        <table *ngIf="tte !== undefined" datatable [dtOptions]="dtOptions" class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Category</th>
                                                    <th>Quantiy</th>
                                                    <th>Brand</th>
                                                    <th>Serial Number</th>
                                                    <th>Calibration Validity Date</th>
                                                    <th>Date Received</th>
                                                    <th>Condition</th>
                                                    <th>Assigned To</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="tte?.length != 0">
                                                <tr *ngFor="let tte of tte">
                                                    <td>{{ tte.description }}</td>
                                                    <td>{{ tte.category }}</td>
                                                    <td>{{ tte.quantity }}</td>
                                                    <td>{{ tte.brand }}</td>
                                                    <td>{{ tte.serial_number }}</td>
                                                    <td>{{ tte.calibration_validity_date }}</td>
                                                    <td>{{ tte.date_received }}</td>
                                                    <td>{{ tte.tte_condition }}</td>
                                                    <td>{{ tte.employee_name }}</td>
                                                    <td class="text-center">
                                                        <a href="" [routerLink]="" (click)="edit(editTteModal, tte)">&nbsp; <i class="fas fa-pencil-alt"> </i> </a> 
                                                        <a  [routerLink]="" (click)="remove(tte)"> <i class="fas fa-trash-alt"> </i> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="tte?.length == 0">
                                                <tr>
                                                    <td colspan="10" class="no-data-available">No data!</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<ng-template #addTteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Add Tools and Test Equiment</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

        
    <div class="modal-body">
        <form [formGroup]="tteForm" (ngSubmit)="onSubmitSave()">

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Employee</label><br>
                        <ng-select2 id="empselect2" [options]="options" formControlName="employee_id"> </ng-select2>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" formControlName="description" id="description" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" class="form-control" formControlName="category" id="category" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" formControlName="quantity" id="quantity" required="true">
                    </div>
                </div>
    
            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" class="form-control" formControlName="brand" id="brand" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Serial Number</label>
                        <input type="text" class="form-control" formControlName="serial_number" id="serial_number" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Calibration Validity Date</label>
                        <input type="date" class="form-control" formControlName="calibration_validity_date" id="calibration_validity_date" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Date Received</label>
                        <input type="date" class="form-control" formControlName="date_received" id="date_received" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Condition</label>
                        <input type="date" class="form-control" formControlName="tte_condition" id="tte_condition" required="true">
                    </div>
                </div>
    
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm  btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm  btn-primary">Save</button>
            </div>
        </form>

    </div>
</ng-template>

<ng-template #editTteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Tools and Test Equipment Details</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        
    <div class="modal-body">
        <form [formGroup]="tteForm" (ngSubmit)="onSubmitUpdate()">

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Employee</label><br>
                        <ng-select2 id="empselect2" [data]="defaultValue" [options]="options" 
                        formControlName="employee_id"> </ng-select2>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" formControlName="description" id="description" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" class="form-control" formControlName="category" id="category" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" formControlName="quantity" id="quantity" required="true">
                    </div>
                </div>
    
            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" class="form-control" formControlName="brand" id="brand" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Serial Number</label>
                        <input type="text" class="form-control" formControlName="serial_number" id="serial_number" required="true">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Calibration Validity Date</label>
                        <input type="date" class="form-control" formControlName="calibration_validity_date" id="calibration_validity_date" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Date Received</label>
                        <input type="date" class="form-control" formControlName="date_received" id="date_received" required="true">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Condition</label>
                        <input type="date" class="form-control" formControlName="tte_condition" id="tte_condition" required="true">
                    </div>
                </div>
    
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
            </div>
        </form>

    </div>
</ng-template>


